{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 *
 * overflow tip
 * https://stackoverflow.com/a/14967519/227926 
#}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set is_full_width = paragraph.field_padding.value == 'full_width' %}

{% if is_full_width %}
  {% set padding_value_incr = '0' %}
{% elseif paragraph.field_padding.value %}
  {% set padding_value_incr = paragraph.field_padding.value %}
{% else %}
  {% set padding_value_incr = '0em' %}
{% endif %}

{# Full width: no padding, content spans entire browser width #}
{% if is_full_width %}
  {% set padding_value_left_css_style = "0" %}
  {% set padding_value_right_css_style = "0" %}
{% else %}
  {# Detect if this enclosure is nested inside another enclosure (check up to 2 ancestor levels) #}
  {% set is_nested = false %}
  {% set parent_enclosure_is_full_width = false %}
  {% set parent_entity = paragraph.getParentEntity() %}
  {% if parent_entity.getEntityTypeId is defined and parent_entity.getEntityTypeId() == 'paragraph' %}
    {% if parent_entity.bundle() == 'enclosure' %}
      {% set is_nested = true %}
      {% set parent_enclosure_is_full_width = parent_entity.field_padding.value == 'full_width' %}
    {% else %}
      {% set grandparent = parent_entity.getParentEntity() %}
      {% if grandparent.getEntityTypeId is defined and grandparent.getEntityTypeId() == 'paragraph' and grandparent.bundle() == 'enclosure' %}
        {% set is_nested = true %}
        {% set parent_enclosure_is_full_width = grandparent.field_padding.value == 'full_width' %}
      {% endif %}
    {% endif %}
  {% endif %}

  {# Use max() centering formula if: not nested, OR nested inside a full_width parent #}
  {% if not is_nested or parent_enclosure_is_full_width %}
    {%
      set padding_value_left_css_style = "max(2em, calc((100% - 1200px) / 2 + " ~ padding_value_incr ~ "))"
    %}
    {%
      set padding_value_right_css_style = "max(2em, calc((100% - 1200px) / 2 + " ~ padding_value_incr ~ "))"
    %}
  {% else %}
    {% set padding_value_left_css_style = padding_value_incr %}
    {% set padding_value_right_css_style = padding_value_incr %}
  {% endif %}
{% endif %}

{% block paragraph %}
  <div{{ attributes.addClass(classes).addClass('slnt-text') }} 
   style="background-color: {{ paragraph.field_color_background.0.entity.field_color.value.0.color|default('transparent') }};
          overflow: auto;
          padding-left: {{ padding_value_left_css_style }};
          padding-right: {{ padding_value_right_css_style }};
          padding-top: {{ padding_value_incr }};
          padding-bottom: {{ padding_value_incr }};"
  >
      {% block content %}
        {{ content.field_content_component }} 
      {% endblock %}

  </div>
{% endblock paragraph %}

