{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link URL, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */

      <ul{{ attributes.addClass("main-menu-item-container") }} >




#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/3.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}


{% macro menu_links(items, attributes, menu_level) %}
	{% import _self as menus %}
	{% if items %}
		{% if menu_level == 0 %}
			<div class="main-menu-wrap">
				<ul class="main-menu-item-container" id="sub-menu-item-container-ul">
				{% set item_leaves = items %}
				{% else %}
				    {% set item_leaves = items|slice(1) %}
					<div class="sub-menu-container hidden-2l animated">
					{% set first_item =items|first %}
					    {{ link(first_item.title, first_item.url, { 'class': ['first-link']}) }}
						<ul class="sub-menu-item-container">
						{% endif %}
						  {% for item in item_leaves %}

							<li{{item.attributes}}>
								{% if menu_level == 0 %}
									{% if item.below %}
										<div class="main-menu-item-wrapper">
											<button class="main_nav_link ">
											<span>{{ item.title }}</span>
												<svg role="presentation" class="lnk__icon navigation__link__down-icon" focusable="false">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tvip-down-triangle" href="#tvip-down-triangle" role="presentation"></use>
												</svg>
											</button>
											{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
										</div>
									{% else %}
										{{ link(item.title, item.url) }}

									{% endif %}
								{% else %}
									{{ link(item.title, item.url) }}
									{% if item.below %}
										{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
									{% endif %}
								{% endif %}
							</li>
						{% endfor %}
						{% if menu_level == 0 %}
						</ul>
					</div>
					{# main menu wrap #}
			{% else %}
				</ul>
			</div>
		{% endif %}
	{% endif %}
{% endmacro %}
