{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

<style>
  .footer-menu-custom-block 
  { 
   color: {{ content['field_color_text'].0['#options'].entity.field_color.value.0.color }}; 

   background-color: {{ content['field_color_background'].0['#options'].entity.field_color.value.0.color }}; 
   
   overflow:auto; 
  }

  .footer-menu-custom-block > * .field--type-link > a {
     color: {{ content['field_color_text'].0['#options'].entity.field_color.value.0.color }}; 

     text-decoration-line: none;
  }
</style>
<div {{ attributes.addClass(classes) }} slnt-text">

  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <span class="slnt-text">
      {{ content['field_copyright_message'] }}
    </span>
    <span class="slnt-text">
      {{ content['field_year'] }}
    </span>
    <span class="slnt-text">
      {{ content['field_privacy_policy'] }}
    </span>
    {{ content['field_social'] }}
  {% endblock %}
</div>
